In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm

In [21]:
path_athena = '/eos/user/j/jlai/g200/gpu/G-200/traccc-athena/run/event000000000-measurements.csv'
path_traccc = '/eos/user/j/jlai/Traccc/traccc/data/output/measurements.csv'
path = '/eos/user/j/jlai/Traccc/traccc/data/output/event000000000-measurements.csv'

dfa = pd.read_csv(path_athena)
dfc = pd.read_csv(path_traccc)
df = pd.read_csv(path)

In [30]:
dfa.describe()

,measurement_id,geometry_id,local_key,local0,local1,phi,theta,time,var_local0,var_local1,var_phi,var_theta,var_time
count,100935.000000,1.009350e+05,100935.0,100935.000000,100935.000000,100935.0,100935.0,100935.0,1.009350e+05,1.009350e+05,100935.0,100935.0,100935.0
mean,50467.000000,1.609398e+18,6.0,-0.115900,323.210503,0.0,0.0,0.0,2.500000e-03,2.500000e-03,0.0,0.0,0.0
std,29137.569048,4.145476e+16,0.0,27.077682,331.453421,0.0,0.0,0.0,4.336830e-19,4.336830e-19,0.0,0.0,0.0
min,0.000000,1.536010e+18,6.0,-61.812300,0.000000,0.0,0.0,0.0,2.500000e-03,2.500000e-03,0.0,0.0,0.0
25%,25233.500000,1.581048e+18,6.0,-22.983400,0.000000,0.0,0.0,0.0,2.500000e-03,2.500000e-03,0.0,0.0,0.0
50%,50467.000000,1.608071e+18,6.0,-0.164879,393.832000,0.0,0.0,0.0,2.500000e-03,2.500000e-03,0.0,0.0,0.0
75%,75700.500000,1.639599e+18,6.0,22.749650,590.965000,0.0,0.0,0.0,2.500000e-03,2.500000e-03,0.0,0.0,0.0
max,100934.000000,1.684636e+18,6.0,61.731400,937.704000,0.0,0.0,0.0,2.500000e-03,2.500000e-03,0.0,0.0,0.0

In [31]:
dfc.describe()

,local0,local1,var_local0,var_local1,geometry_id,measurement_id,cluster_link,meas_dim
count,106823.000000,106823.0,106823.000000,106823.000000,1.068230e+05,106823.00000,1.068230e+05,106823.000000
mean,-0.174251,0.0,0.000752,102.634718,1.609374e+18,53411.00000,1.844674e+19,1.000009
std,27.129671,0.0,0.000684,77.120708,4.120540e+16,30837.28824,0.000000e+00,0.003060
min,-61.802925,0.0,0.000211,0.000210,1.379229e+16,0.00000,1.844674e+19,1.000000
25%,-23.073118,0.0,0.000475,48.722702,1.581048e+18,26705.50000,1.844674e+19,1.000000
50%,-0.229608,0.0,0.000483,61.169224,1.608071e+18,53411.00000,1.844674e+19,1.000000
75%,22.763247,0.0,0.000543,194.890808,1.639599e+18,80116.50000,1.844674e+19,1.000000
max,61.762665,0.0,0.023276,301.622162,1.684636e+18,106822.00000,1.844674e+19,2.000000

In [24]:
dfc[dfc['geometry_id']==1536010436653820607]

,local0,local1,var_local0,var_local1,geometry_id,measurement_id,cluster_link,meas_dim
1,-32.170132,0.0,0.000485,30.023199,1536010436653820607,80227,18446744073709551615,1
2,-29.575151,0.0,0.000485,30.023199,1536010436653820607,80228,18446744073709551615,1
3,-27.285463,0.0,0.012136,30.023199,1536010436653820607,80229,18446744073709551615,1
4,-23.774607,0.0,0.000485,30.023199,1536010436653820607,80230,18446744073709551615,1
5,-21.484917,0.0,0.000485,30.023199,1536010436653820607,80231,18446744073709551615,1
6,-20.721687,0.0,0.000485,30.023199,1536010436653820607,80232,18446744073709551615,1
7,-12.555129,0.0,0.000485,30.023199,1536010436653820607,80233,18446744073709551615,1
8,-7.594136,0.0,0.000485,30.023199,1536010436653820607,80234,18446744073709551615,1
9,-5.151801,0.0,0.000485,30.023199,1536010436653820607,80235,18446744073709551615,1
10,21.026979,0.0,0.000485,30.023199,1536010436653820607,80236,18446744073709551615,1
11,27.209139,0.0,0.000485,30.023199,1536010436653820607,80237,18446744073709551615,1

In [25]:
dfa[dfa['geometry_id']==1536010436653820607]

,measurement_id,geometry_id,local_key,local0,local1,phi,theta,time,var_local0,var_local1,var_phi,var_theta,var_time
0,0,1536010436653820607,6,-32.90150,392.615,0,0,0,0.0025,0.0025,0,0,0
1,1,1536010436653820607,6,-30.32730,392.822,0,0,0,0.0025,0.0025,0,0,0
2,2,1536010436653820607,6,-28.05450,392.991,0,0,0,0.0025,0.0025,0,0,0
3,3,1536010436653820607,6,-24.56710,393.224,0,0,0,0.0025,0.0025,0,0,0
4,4,1536010436653820607,6,-22.29130,393.360,0,0,0,0.0025,0.0025,0,0,0
5,5,1536010436653820607,6,-21.53250,393.402,0,0,0,0.0025,0.0025,0,0,0
6,6,1536010436653820607,6,-13.40650,393.762,0,0,0,0.0025,0.0025,0,0,0
7,7,1536010436653820607,6,-8.42731,393.900,0,0,0,0.0025,0.0025,0,0,0
8,8,1536010436653820607,6,-6.03170,393.944,0,0,0,0.0025,0.0025,0,0,0
9,9,1536010436653820607,6,20.07030,393.479,0,0,0,0.0025,0.0025,0,0,0
10,10,1536010436653820607,6,26.23130,393.116,0,0,0,0.0025,0.0025,0,0,0

In [29]:
np.array(dfc[dfc['geometry_id']==1536010436653820607].local0) - np.array(dfa[dfa['geometry_id']==1536010436653820607].local0)

array([0.73136832, 0.75214856, 0.76903667, 0.7924933 , 0.80638331,
       0.81081268, 0.85137095, 0.83317424, 0.87989937, 0.95667945,
       0.97783887])